<?xml version="1.0" ?>
<robot name="reaction_wheel" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<xacro:property name="body_color" value="Gazebo/Silver" />

<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
</gazebo>

<gazebo reference="base_track_link">
  <material>Gazebo/White</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="bottom_swingup_link">
  <material>Gazebo/White</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="pendulum_arm_link">
  <material>Gazebo/White</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="estator_link">
  <material>Gazebo/White</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="rotor_link">
  <material>Gazebo/White</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="reaction_wheel_link">
  <material>Gazebo/White</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="imu_support_link">
  <material>Gazebo/White</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="imu_link">
  <material>Gazebo/White</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
  <turnGravityOff>false</turnGravityOff>
</gazebo>

</robot>
